{
  "getAllItemsFunction": {
    "LOOKUP_TABLE": "horny-grail-name-lookup"
  },
  "getByIdFunction": {
    "LOOKUP_TABLE": "horny-grail-name-lookup"
  },
  "putItemFunction": {
    "LOOKUP_TABLE": "horny-grail-name-lookup",
    "WRITE_API_KEY": "replace-with-a-long-random-secret"
  },
  "GetRandomImage": {
    "LOOKUP_TABLE": "horny-grail-name-lookup",
    "CLOUDFRONT_BASE_URL": "https://dqvs0hmo3wpp7.cloudfront.net"
  }
}
